/* Background image */
* {
  font-family: Oxygen, Ubuntu, Cantarell !important;
}
body {
  background-image: url(./assets/photo-1490818387583-1baba5e638af.avif);
  background-size: cover;
  background-position: cover;
}

/* Styles for App component */
.App {
  margin: 0 auto;
  max-width: 700px;
  font-family: Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
  top: 100px;
}

.AppTwo {
  margin: 50px auto;
  max-width: 700px;
  font-family: Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: relative;
}

h1 {
  text-align: center;
  color: #2b2d42;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* Styles for IntroductionPageTitle component */
h2 {
  font-size: 24px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Styles for ChapterTitle component */
h3 {
  font-size: 20px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Styles for RecipeList component */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Styles for RecipeTitle component */
h4 {
  font-size: 16px;
  color: #2b2d42;
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* Styles for RecipeDescription component */
p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

/* Styles for RecipeForm component */
form {
  margin-top: 30px;
}

form h3 {
  font-size: 20px;
  color: #2b2d42;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #2b2d42;
}

input[type="text"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 5px;
}

.btn-neon {
  --line-width: 2px;
  --line-color-rgb: 50, 150, 255;
  --bg-color-rgb: 5, 5, 5;
  --color-white: rgb(250, 250, 250);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--line-width);

  font-family: sans-serif;
  color: rgb(var(--line-color-rgb));
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;

  box-sizing: border-box;

  cursor: pointer;
  border: none;
  overflow: hidden;
  transition: 500ms;
}
.btn-neon::before,
.btn-neon::after {
  content: "";
  position: relative;
  display: inline-block;
}
.btn-neon::before {
  position: absolute;
  width: calc(100% + calc(4 * var(--line-width)));
  /*   height: 100%; */
  aspect-ratio: 1/1;
  background-image: conic-gradient(
    transparent,
    rgba(var(--line-color-rgb), 0.15),
    rgba(var(--line-color-rgb), 0.75),
    rgb(var(--line-color-rgb))
  );

  animation: rotate 2s linear infinite;
}
.btn-neon::after {
  content: attr(value);
  padding: 12px 24px;
  width: max-content;
  background-color: white;

  transition: 500ms;
}
.btn-neon:hover,
.btn-neon:hover::after {
  background-color: rgb(var(--line-color-rgb));
  color: var(--color-white);
  border-radius: var(--line-width);

  box-shadow: 0 0 5px rgb(var(--line-color-rgb)),
    0 0 20px rgb(var(--line-color-rgb)), 0 0 40px rgb(var(--line-color-rgb)),
    0 0 80px rgb(var(--line-color-rgb));
}

@keyframes rotate {
  0% {
    transform: rotate(-45deg);
  }
  10% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(135deg);
  }
  60% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
